<div class="container" [ngClass]="{ 'blur-bg': blurBackground$ | async }">
  <button mat-raised-button class="help-button">
    Vous souhaitez aider ?
  </button>
  <form
    class="chat-form"
    [formGroup]="chatForm"
    (ngSubmit)="onSubmit()"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start end"
  >
    <mat-form-field fxFlex.gt-md="40%">
      <input
        matInput
        type="text"
        placeholder="Prenom"
        formControlName="prenom"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Age" formControlName="age" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="chatForm.invalid"
      class="submit-btn"
    >
      Parler !
    </button>
  </form>
</div>
